:root {
    --titlekhaki: rgb(232, 232, 197);
    --lightkhaki: rgb(114, 112, 101);
    --khaki: rgb(78, 76, 38);
    --background: rgb(223, 200, 105);
    --border: rgba(232, 232, 197, 0.676);
}